STEAM_API_KEY=your_steam_community_api_key
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key

#ONLY for Portkey integration
PORTKEY_API_KEY=your_portkey_api_key
PORTKEY_AWS_VIRTUAL_KEY=you_portkey_virtual_key