STEAM_API_KEY=your_steam_community_api_key
AGENTOPS_API_KEY=your_agentops_api_key # only if you want to test agentops integration in ./concepts/agentops_handler.py
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key